* {
    font-family: "Raleway", "Open Sans", "Helvetica Neue", "Helvetica", "sans-serif";
}
.logo {
    width: 100%;
    max-width: 200px;
}
.container {
    max-width: 940px;
}
.container-md {
    max-width: 940px;
}
.green {
    color: rgba(126,173,101,1);
}
.dark {
    color: rgb(67, 74, 84);
}
h1 {
    font-weight: bold;
}
a {
    cursor: pointer;
}
.large {
	font-size: 2rem;
}

.extra-large {
	font-size: 4rem;
}

.col-form-label.large {
	font-weight: bold;
}

fieldset {
	border: 1px groove;
	padding: 10px;
	margin: 8px
}

legend {
	font-weight: bold;
}

.bunny-row {
	border: 1px groove;
	padding: 10px;	
	font-weight: bold;
	height: 120px;
}

.bunny-picture {
	margin-right: 10px;	
	width: 100px;
	height: 100px;
}