.logo {
    width: 100%;
    max-width: 200px;
}
.container {
    max-width: 940px;
}
.container-md {
    max-width: 940px;
}
.green {
    color: rgba(126,173,101,1);
}
h1 {
    font-family: "Raleway", "Open Sans", "Helvetica Neue", "Helvetica", "sans-serif";
    font-weight: bold;
    text-transform: uppercase;
}
a {
    cursor: pointer;
}