* {
    font-family: "Raleway", "Open Sans", "Helvetica Neue", "Helvetica", "sans-serif";
}
.logo {
    width: 100%;
    max-width: 200px;
}
.container {
    max-width: 940px;
}
.container-md {
    max-width: 940px;
}
.green {
    color: rgba(126,173,101,1);
}
.dark {
    color: rgb(67, 74, 84);
}
h1 {
    font-weight: bold;
    text-transform: uppercase;
}
h2 {
    text-transform: uppercase;
}
a {
    cursor: pointer;
}
.large {
	font-size: 2rem;
}

.col-form-label.large {
	font-weight: bold;
}

fieldset {
	border: 2px groove;
	padding: 10px;
}

legend {
	font-weight: bold;
}

.spacer {
	height: 10px;
}
