name: Main Branch

on:
  push:
    branches:
      - 'main'

jobs:
          
  docker:
    name: Publish Docker
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 11.0.4
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: 'java'
      - name: Maven install
        run: mvn -B clean install
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4
      - name: Get version
        run: echo "VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
      - name: Docker Hub Login
        run: docker login -u mirvnillith -p ${{ secrets.DOCKER_TOKEN }}
      - name: Docker Hub Push
        run: docker push mirvnillith/skvf-kaninregister:$VERSION
      - name: GCP Tag
        run: docker tag mirvnillith/skvf-kaninregister:$VERSION europe-north1-docker.pkg.dev/${{ secrets.GCP_PROJECTID }}/images/kaninregister:$VERSION
      - name: GCP Login
        id: oauth2token
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'
          token_format: 'access_token'
      - name: GCP Docker Login
        uses: docker/login-action@v3
        with:
          registry: 'europe-north1-docker.pkg.dev'
          username: 'oauth2accesstoken'
          password: '${{ steps.oauth2token.outputs.access_token }}'
      - name: GCP Push
        run: docker push europe-north1-docker.pkg.dev/${{ secrets.GCP_PROJECTID }}/images/kaninregister:$VERSION