name: Main Branch

on:
  push:
    branches:
      - 'main'

jobs:
          
  docker:
    name: Publish Docker Hub
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v1
      - name: JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11.0.4
      - name: Maven install
        run: mvn -B clean install
      - name: Login to Docker Hub
        run: docker login -u mirvnillith -p ${{ secrets.DOCKER_TOKEN }}
      - name: Publish Docker image
        run: docker push mirvnillith/skvf-kaninregister:main-SNAPSHOT