name: Main Branch

on:
  push:
    branches:
      - 'main'

jobs:
          
  docker:
    name: Publish Docker
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11.0.4
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v1
        with:
          languages: 'java'
      - name: Maven install
        run: mvn -B clean install
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v1
      - name: Get version
        run: echo "VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
      - name: Docker Hub Login
        run: docker login -u mirvnillith -p ${{ secrets.DOCKER_TOKEN }}
      - name: Docker Hub Push
        run: docker push mirvnillith/skvf-kaninregister:$VERSION
      - name: GCP Tag
        run: docker tag mirvnillith/skvf-kaninregister:$VERSION gcr.io/SKVF/kaninregister:$VERSION
      - name: GCP Login
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: SKVF
          service_account_email: ${{ secrets.GCP_EMAIL }}
          service_account_key: ${{ secrets.GCP_CREDENTIALS }}
      - name: GCP Configure
        run: gcloud auth configure-docker --quiet
      - name: GCP Push
        run: docker push gcr.io/SKVF/kaninregister:$VERSION    