name: Release Branch

on:
  push:
    branches:
      - 'release/**'

jobs:
          
  docker:
    name: Publish Docker
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 11.0.4
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: 'java'
      - name: Maven install
        run: mvn -B clean install
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4
      - name: Get version
        run: echo "VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
      - name: Create tag
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/${{env.VERSION}}',
              sha: context.sha
            })
      - name: Docker Hub Login
        if: ${{ !contains(env.VERSION, 'SNAPSHOT') }}
        run: docker login -u mirvnillith -p ${{ secrets.DOCKER_TOKEN }}
      - name: Docker Hub Push
        if: ${{ !contains(env.VERSION, 'SNAPSHOT') }}
        run: docker push mirvnillith/skvf-kaninregister:$VERSION
      - name: GCP Tag
        if: ${{ !contains(env.VERSION, 'SNAPSHOT') }}
        run: docker tag mirvnillith/skvf-kaninregister:$VERSION europe-north1-docker.pkg.dev/${{ secrets.GCP_PROJECTID_RELEASE }}/images/kaninregister:$VERSION
      - name: GCP Login
        id: oauth2token
        if: ${{ !contains(env.VERSION, 'SNAPSHOT') }}
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS_RELEASE }}'
          token_format: 'access_token'
      - name: GCP Docker Login
        if: ${{ !contains(env.VERSION, 'SNAPSHOT') }}
        uses: docker/login-action@v3
        with:
          registry: 'europe-north1-docker.pkg.dev'
          username: 'oauth2accesstoken'
          password: '${{ steps.oauth2token.outputs.access_token }}'
      - name: GCP Push
        if: ${{ !contains(env.VERSION, 'SNAPSHOT') }}
        run: docker push europe-north1-docker.pkg.dev/${{ secrets.GCP_PROJECTID_RELEASE }}/images/kaninregister:$VERSION